<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Menu Simple con HTML Y CSS</title>
	<link rel="stylesheet" href="static/css/menu_estilo.css">
</head>
<body>
	<header>
		<nav class="navegacion">
			<ul class="menu">
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Nosotros</a></li>
				<li><a href="#">Tipo de Instrumento</a>
					<ul class="submenu">
						<li><a href="#">Cuerdas #1</a></li>
						<li><a href="#">Percusion #2</a></li>
						<li><a href="#">Amplificadores #3</a></li>
                        <li><a href="#">Accesorios varios #3</a></li>
                        
					</ul>
				</li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>