<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Filtrando elementos por categorias</title>

	<link rel="stylesheet" href="static/css/menu_cliente.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="static/js/jquery-3.2.1.js"></script>
	<script src="static/js/script.js"></script>
</head>
<body>
	
	<div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="Ofertas">Ofertas</a>
				<a href="#" class="category_item" category="Cuerdas">Instrumentos Cuerdas</a>
				<a href="#" class="category_item" category="Percusion">Instrumentos Percusion</a>
				<a href="#" class="category_item" category="Amplificadores">Instrumentos Amplificadores</a>
				<a href="#" class="category_item" category="Varios">Accesorios Varios</a>
				<a href="#" class="category_item" category="audifonos">Audifonos</a>
			</div>
			<section class="products-list">
				<div class="product-item" category="Cuerdas">
					<img src="static/img/guitarra_acustica.jpg" alt="" >
					<a href="#">Guitarra Acustica</a>
				</div>
				<div class="product-item" category="Cuerdas">
					<img src="static/img/guitarra_cuerpo.jpg" alt="" >
					<a href="#">Cuerpo Guitarra</a>
				</div>
				<div class="product-item" category="Cuerdas">
					<img src="static/img/guitarra_electrica.jpg" alt="" >
					<a href="#">Guitarra Electrica</a>
				</div>
				<div class="product-item" category="Cuerdas">
					<img src="static/img/piano_cola_entera.jpg" alt="" >
					<a href="#">Pianola Cola Entera</a>
				</div>
				<div class="product-item" category="Cuerdas">
						<img src="static/img/piano_media_cola.jpg" alt="" >
						<a href="#">Piano Media Cola</a>
				</div>
				<div class="product-item" category="Cuerdas">
					<img src="static/img/pianola.jpg" alt="" >
					<a href="#">Pianola</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_acustica_mapex.jpg" alt="" >
					<a href="#">Bateria Acustica Mapex</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_acustica_pearl.jpg" alt="" >
					<a href="#">Bateria Acustica Pearl</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_acustica_sonor.jpg" alt="" >
					<a href="#">Bateria Acustica Sonor</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_acustica_tama.jpg" alt="" >
					<a href="#">Bateria Acustica Tama</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_electronica_roland.jpg" alt="" >
					<a href="#">Bateria Electronica Roland</a>
				</div>
				<div class="product-item" category="Percusion">
					<img src="static/img/bateria_electronica_alesis.jpg" alt="" >
					<a href="#">Bateria Electronica Alesis</a>
				</div>
				<div class="product-item" category="Amplificadores">
					<img src="static/img/ampli_cabezal_engl.jpg" alt="" >
					<a href="#">AMplificador Cabezal ENGL</a>
				</div>
				<div class="product-item" category="Amplificadores">
					<img src="static/img/ampli_cabezal_evh.jpg" alt="" >
					<a href="#">AMplificador Cabezal EVH</a>
				</div>
				<div class="product-item" category="Amplificadores">
					<img src="static/img/ampli_cabezal_mar.jpg" alt="" >
					<a href="#">AMplificador Cabezal MARSHALL</a>
				</div>
				<div class="product-item" category="Amplificadores">
					<img src="static/img/ampli_cabezal_pavey.jpg" alt="" >
					<a href="#">AMplificador Cabezal PAVEY</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="images/pc_lenovo.jpg" alt="" >
					<a href="#">PC Lenovo</a>
				</div>
				<div class="product-item" category="monitores">
					<img src="images/monitor_asus.jpg" alt="" >
					<a href="#">Monitor Asus</a>
				</div>
				<div class="product-item" category="audifonos">
					<img src="images/jbl.jpg" alt="" >
					<a href="#">Audifonos JBL</a>
				</div>
			</section>
		</div>
	</div>

</body>
</html>