<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Music Pro | Fazt</title>
    <link rel="stylesheet" href="static/css/login_estilo.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static/img/logo.png" class="avatar" alt="Avatar Image">
      <h1>Login Music Pro</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Nombre Usuario</label>
        <input type="text" placeholder="Escribe Usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Clave</label>
        <input type="password" placeholder="Escribe Clave">
        <input type="submit" value="Continuar">
        <a href="#">Te olvidaste de tu clave?</a><br>
        <a href="#">No tienes una cuenta?</a>
      </form>
    </div>
  </body>
</html>